    /*--------------------------------------------------------------
    ## Links
    --------------------------------------------------------------*/
a {
    color: royalblue;
}

a:visited {
    color: purple;
}

a:hover, a:focus, a:active {
    color: midnightblue;
}*/

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

    /*--------------------------------------------------------------
    ## Menus
    --------------------------------------------------------------*/
.menu-toggle{
    display:none;
}
.main-navigation ul {
    width: 98%;
    margin: 0 auto;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid #FFF;
    padding: 1px;
    background-color:#808080;
    display:flex;    
    flex-flow: row wrap;
    justify-content:space-around;
    align-items:flex-start;
}
.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}
.main-navigation li {
    background-color:#c0c0c0;    
    padding: 0px;
    font-size: 15px;
    text-align:center;  
    flex:1 0 auto;
    transition-duration: 1s;
}
.main-navigation li a {
    display:block;
    text-decoration:none;
    color:black;
    padding: .6em 1em;    
}
.main-navigation li:hover{
    background-color:black;
    color:orange;
}
.main-navigation li a:hover{
    background-color:black;
    color:orange;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {   
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: flex;
        flex-flow: row wrap;        
    }
}
/*
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}*/


